.arrowFill {
    fill: canvas;
}

.arrowOuterStroke {
    @media (prefers-color-scheme: light) {
        fill: var(--color-gray-200);
    }
}

.arrowInnerStroke {
    @media (prefers-color-scheme: dark) {
        fill: var(--color-gray-300);
    }
}
