.area {
  position: absolute;
  background-color: color-mix(
    in srgb,
    var(--color-blue),
    transparent var(--area-opacity)
  );
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
  transform-origin: top left;
  transform: translate(
    calc(var(--dx, 0px) * (1 / var(--zoom, 1))),
    calc(var(--dy, 0px) * (1 / var(--zoom, 1)))
  );

  &.circle {
    border-radius: 50%;
  }
  &.temp {
    outline-style: 2px dashed var(--color-primary);
  }
  &.selected {
    outline: 2px solid var(--color-primary);

    .tracklist {
      display: none;
    }
  }
}

.tracklist {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 80%;

  .track {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0.5rem;
    align-items: center;

    button {
      height: auto;
      padding: 0.25rem;
    }
  }

  .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.autoplay {
  background: transparent;
  border-color: color-mix(in srgb, var(--color-gray-900), transparent 70%);
}

.controlsPanel {
  position: absolute;
  background: var(--color-base);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transform: translate(
    calc(-50% + var(--dx, 0px)),
    calc(-50% + var(--dy, 0px))
  );
}
