.library {
  grid-area: 2 / 3;
  align-self: end;
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;

  max-height: 100%;
  overflow-y: auto;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--color-accent);

  & > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  & svg {
    color: var(--color-accent);
  }
}
