.area {
  position: absolute;
  background-color: color-mix(
    in srgb,
    var(--color-blue),
    transparent var(--area-opacity)
  );
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 1rem;
}

.tracklist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 80%;
}

.track {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0.5rem;
  align-items: center;

  button {
    height: auto;
    padding: 0.25rem;
  }
}
.selected .track {
  grid-template-columns: 1fr min-content;
}

.autoplay {
  background: transparent;
  border-color: color-mix(in srgb, var(--color-gray-900), transparent 70%);
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.circle {
  border-radius: 50%;
}

.nonInteractive {
  pointer-events: none;
}

.selected {
  outline: 1px solid var(--color-accent);
  z-index: 10;
}

.temp {
  border-style: dashed;
}

.controls {
  display: flex;
  gap: 0.25rem;
}
