.body {
  grid-area: 2 / 1/ -1 / -1;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.marker {
  position: absolute;
  border-radius: 50%;
  border: 2px solid var(--color-accent);
  background-color: var(--color-base);
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.positioner {
  position: absolute;
}
