.imageContainer {
  position: absolute;
  transform: translate(
    calc(-50% + var(--dx, 0px) * (1 / var(--zoom, 1))),
    calc(-50% + var(--dy, 0px) * (1 / var(--zoom, 1)))
  );
  display: grid;
  place-items: center;
  grid-template-areas: "center";
  min-width: 15rem;
  min-height: 15rem;
  background-color: var(--color-background);
  & > * {
    grid-area: center;
  }
  img {
    transform: scale(var(--scale, 1));
  }
}

.selected {
  outline: 1px solid var(--color-accent);
}

.noImage {
  color: var(--color-gray-400);
  pointer-events: none;
}

.controls {
  display: flex;
  gap: 0.25rem;
  input[type="file"] {
    display: none;
  }
}

.controlsPanel {
  position: absolute;
  background: var(--color-base);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transform: translate(
    calc(-50% + var(--dx, 0px)),
    calc(-50% + var(--dy, 0px))
  );
}

.scaleControl {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  height: 100%;
  box-sizing: border-box;

  padding: 0.25rem 1rem 0.25rem 0.875rem;

  border: 1px solid var(--color-border);
  border-radius: 0.375rem;
  background-color: var(--color-background);

  input {
    margin: 0;
  }
}
