.info {
  display: flex;
  flex-direction: column;
  width: 32rem;
  gap: 1rem;

  & > * {
    margin: 0;
  }
}

.subheader {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.0025em;
  font-weight: 500;
  border-bottom: 2px solid var(--color-gray-100);
  padding-bottom: 0.5rem;
}
