.landing {
  display: grid;
  place-content: center;
  grid-template-columns: 1.3fr 1fr;
  grid-template-areas: "image content";
  max-width: 80vw;
  gap: 2rem;
}

@media (max-width: 1024px) {
  .landing {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "image"
      "content";

    height: 100vh;
  }
}

.landing .content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 100vh;
  overflow-y: auto;

  width: 25rem;
  h1,
  p {
    margin: 0;
  }
}

.content h1 {
  font-size: 2rem;
  text-align: center;
}

.content p svg {
  float: left;
  padding: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  text-align: center;
}
.controls ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.landing .illustration {
  grid-area: image;
  max-height: 100%;
  width: auto;
  background: no-repeat center url("/note-light.png");
  background-size: contain;
}
@media (prefers-color-scheme: dark) {
  .landing .illustration {
    background-image: url("/note-dark.png");
  }
}
