:root {
  --color-blue: oklch(45% 50% 264deg);
  --color-blue-2: oklch(55% 50% 264deg);
  --color-red: oklch(50% 55% 31deg);

  --color-gray-50: oklch(98.42% 0.0034 247.86deg);
  --color-gray-100: oklch(93.48% 0.48% 264deg);
  --color-gray-200: oklch(90.75% 0.72% 264deg);
  --color-gray-300: oklch(85.73% 1.45% 264deg);
  --color-gray-400: oklch(73.54% 3.04% 264deg);
  --color-gray-500: oklch(63.21% 3.75% 264deg);
  --color-gray-600: oklch(47.49% 4.69% 264deg);
  --color-gray-700: oklch(37.57% 4.62% 264deg);
  --color-gray-800: oklch(29.59% 4.25% 264deg);
  --color-gray-900: oklch(25.48% 4.5% 264deg);
  --color-gray-950: oklch(21.37% 4.75% 264deg);

  @media (prefers-color-scheme: dark) {
    --color-blue: oklch(69% 50% 264deg);
    --color-blue-2: oklch(59% 50% 264deg);
    --color-red: oklch(80% 55% 31deg);

    --color-gray-50: oklch(17% 1% 264deg);
    --color-gray-100: oklch(24.15% 2.3% 264deg);
    --color-gray-200: oklch(27.8% 2.6% 264deg);
    --color-gray-300: oklch(31.4% 2.6% 264deg);
    --color-gray-400: oklch(41.2% 3.2% 264deg);
    --color-gray-500: oklch(56.4% 3.6% 264deg);
    --color-gray-600: oklch(72.2% 3.6% 264deg);
    --color-gray-700: oklch(83.8% 4.1% 264deg);
    --color-gray-800: oklch(85.55% 3.48% 264deg);
    --color-gray-900: oklch(88.3% 2.2% 264deg);
    --color-gray-950: oklch(86.43% 1.73% 264deg);
  }

  --color-primary: var(--color-gray-900);
  --color-background: var(--color-gray-50);
  --color-base: var(--color-gray-100);
  --color-border: var(--color-gray-200);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-blue-2);
}
/*oklch(0.18 0 0)  oklch(1 0 0)*/
