.toolbar {
  grid-area: 2 / 1;
  justify-self: start;
  margin-top: 2rem;
  height: min-content;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0;

  align-items: center;

  button {
    padding: 0.5rem;
    height: auto;
  }
}

.separator {
  height: 1px;
  background-color: var(--color-gray-200);
  width: 100%;
}

.selected {
  border-color: var(--color-blue);
  background-color: var(--color-gray-100);
}
